<nav class="navbar navbar-expand-sm bg-blue">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item bar-padding" (click)="toggleSideBar()">
      <i class="fa fa-bars fa-2x fa-white"></i>
    </li>
    <li class="nav-item">
      <span class="title left-border">ngx-Admin</span>
    </li>
    <li class="nav-item">
      <!-- Basic dropdown -->
      <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Basic dropdown</button>

      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
      <!-- Basic dropdown -->
    </li>
  </ul>

  <ul class="navbar-nav navbar-right">
   
    <!-- <li class="nav-item fa-white left-border">
      <i class="fa fa-mail fa-2x"></i>
    </li>
    <li class="nav-item fa-white left-border">
      <i class="fa fa-search fa-2x"></i>
    </li> -->
    <li class="nav-item fa-white left-border icons">
      <i class="fa fa-download fa-2x"></i>
      <span>470.00</span>
    </li>
    <li class="nav-item fa-white left-border icons">
      <i class="fa fa-envelope fa-2x"></i>
      <span>CONTACT@KOMAL</span>
    </li>
    <li class="nav-item fa-white left-border icons">
      <i class="fa fa-search fa-2x"></i>
    </li>
    <li class="nav-item fa-white left-border icons">
      <i class="fa fa-envelope fa-2x"></i>
    </li>
    <li class="nav-item fa-white left-border icons">
      <i class="fa fa-bell fa-2x"></i>
    </li>
    <li class="nav-item fa-white left-border">
      <i class="fa fa-user-circle fa-2x"></i>
      <span>Nick Jones</span>
    </li>
  </ul>

</nav>