tbody{
    display: block;
    position: fixed;
    height: 75vh;
    overflow-y: auto;
}
table{
    margin-top: 5%;
    margin-left: 15px;
    margin-right: 15px;
}
/*Scroll bar*/
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    /* -webkit-border-radius: 10px; */
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 10px; */
    /* border-radius: 10px; */
    background: #fcfcfc; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background: #fcfcfc; 
  }