<div class="container card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 part-one">
                <div>
                    <i class="fa fa-meetup alignment fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-6 part-two">
                <div>
                    <span>Hire us to customize ngx-admin</span>
                </div>
            </div>
            <div class="col-md-4 part-three">
                <div>
                    <button class="btn btn-color">CONTACT US</button>
                </div>
            </div>
        </div>
    </div>
</div>